section.canhcam-form-1
	.container
		.row.contact-tagline
			.col
				h2.title-with-pattern Our location
		.row.info.mt-4
			.col-md-5.col-lg-4
				article.inf.h-100
					h3 DONG TAY MANUFACTURING
						p.my-3
							i.fas.fa-map-marker-alt
							span 6 St, Khu công nghiệp Đông Xuyên - phường Rạch Dừa, Thành Phố Vũng Tàu
						p
							i.fas.fa-phone
							span Phone: (08) 1234 5678
						p
							i.fas.fa-fax
							span Fax: (08) 1234 5678
						p
							i.fas.fa-globe-americas
							span 
								|Website: 
								a(href="") www.dongtay.com.vn
						p
							i.fas.fa-envelope
							span 
								|Email: 
								a www.contact@dongtay.com

			.col-md-7.col-lg-8
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.2681327190658!2d107.10974721458618!3d10.400265768868378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317571e900d4c18d%3A0xd3692354358146ac!2sDong+Xuyen+Industrial+Park!5e0!3m2!1sen!2s!4v1539370436888" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
		.row
			.col
				h2.h3.mt-5.mt-md-3.mb-4.title-with-pattern General enquiries
				form.validator
					.row
						.form-group.col-md-6
							label(for='name') Name
								span.text-danger (*)
							input#name.form-control(type='text', placeholder='Name', data-error="Vui lòng nhập thông tin", required)
							.help-block.with-errors
						.form-group.col-md-6.form-file
							label(for='file1').file-trigger Attach file
							input#file1.form-control(type='file', placeholder='Attach file').file-upload
							.help-block.with-errors
					.row
						.form-group.col-md-6
							label(for='Email') Email
							input#Email.form-control(type='text', placeholder='Email', data-error="Vui lòng nhập thông tin", pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", required)
							.help-block.with-errors
						.form-group.col-md-6.form-file
							label(for='file2').file-trigger Attach file
							input#file2.form-control(type='file', placeholder='Attach file').file-upload
							.help-block.with-errors
					.row
						.form-group.col-md-6
							label(for='Phone') Phone
							input#Phone.form-control(type='text', placeholder='Phone', data-error="Vui lòng nhập thông tin", pattern="^[_A-z0-9]{1,}$", required)
							.help-block.with-errors
						.form-group.col-md-6.form-file
							label(for='file3').file-trigger Attach file
							input#file3.form-control(type='file', placeholder='Attach file').file-upload
							.help-block.with-errors
					.row
						.form-group.col-md-6
							label(for='Sendto') Send to
							select#Sendto.form-control(type='text', placeholder='Send to', data-error="Vui lòng nhập thông tin", required)
								option( selected, disabled, hidden) Send to
								option(value="Lorem 1") Lorem 1
								option(value="Lorem 2") Lorem 2
								option(value="Lorem 3") Lorem 3
							i.fas.fa-angle-down.select-arrow
							.help-block.with-errors
						.form-group.col-md-6
							label(for='Title') Title
							input#Title.form-control(type='text', placeholder='Title')
					.row
						.form-group.col
							label(for='sms') Message
							textarea#sms.form-control(name="sms", cols="30", rows="5",placeholder='Message')

					.row
						.col
							button.btn.btn-outline-primary.text-uppercase(type="submit")
								| Submit
